body{
    font-size: 1.5em;
    text-align: center;
}
#header{
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
}
#instructionLabel{
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
#button{
    font-size: 1em;
    padding: 10px 20px;
    margin-top: 20px;
}
#quoteDisplay{
    display: block;
    margin-top: 30px;
    font-style: italic;
    font-size: 1.6em;
}